# Build directories
build/
cmake-build-*/
out/

# Compiled objects & binaries
*.o
*.obj
*.exe
*.a
*.dylib

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# IDE / editor
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
